<div class="profile-pic-div pt-2">
  <img class="img-fluid profile-pic rounded-circle" src="https://instagram.fccp3-1.fna.fbcdn.net/vp/a7ebf89cf2dfaab354e0e24426eab802/5D2BE514/t51.2885-15/e35/47511165_2009662099082655_7774408380105024915_n.jpg?_nc_ht=instagram.fccp3-1.fna.fbcdn.net" alt="">
</div>

<div class="profile-data">
  <span class="title">David Misael Villegas Sandoval</span>
  <br>
  <a routerLink="id/misael.vs" class="text-muted">@misael.vs</a>
</div>
<hr class="mb-2">
<div class="profile-details mt-0 p-2 pl-3 pr-3">
  <div class="row">
    <div class="col-md-6">
      <span class="title">Seguidores</span>
      <br>
      <!-- Contador de seguidores -->
      <a class="counter" routerLink="/id/:id/followers">325</a>
    </div>
    <div class="col-md-6">
      <span class="title">Seguidos</span>
      <br>
      <!-- Contador de entidades seguidos -->
      <a class="counter" routerLink="/id/:id/follows">355</a>
    </div>
  </div>
</div>
