

<div class="box16">
  <img src="https://instagram.fccp3-1.fna.fbcdn.net/vp/a7ebf89cf2dfaab354e0e24426eab802/5D2BE514/t51.2885-15/e35/47511165_2009662099082655_7774408380105024915_n.jpg?_nc_ht=instagram.fccp3-1.fna.fbcdn.net" class="rounded">
  <div class="box-content">
    <h3 class="title">David M. Villegas S.</h3>
    <span class="post">Cantante</span>
    <ul class="social">
      <li><a href="#" mdbTooltip="Perfil" placement="bottom"><i class="far fa-user"></i></a></li>
      <li><a href="#" mdbTooltip="Buscar" placement="bottom"><i class="fas fa-search"></i></a></li>
      <li><a href="#" mdbTooltip="Configuraciones" placement="bottom"><i class="fas fa-cogs"></i></a></li>
      <li><a href="#" mdbTooltip="Salir" placement="bottom"><i class="fas fa-lock"></i></a></li>
    </ul>
  </div>
</div>
