<!-- Default form register -->
<form class="text-center p-2 pt-4">

  <p class="h4">Registrate!</p>
  <hr class="mb-4">
  <div class="form-row">
    <div class="col">
      <!-- First name -->
      <div class="md-form pb-0 mb-0">
        <input mdbInput type="text" id="FirstName" placeholder="David Misael" class="form-control">
        <label for="FirstName" class="">Nombres</label>
      </div>
    </div>
    <div class="col">
      <!-- Last name -->
      <div class="md-form pb-0 mb-0">
        <input mdbInput type="text" id="LastName" placeholder="Villegas Sandoval" class="form-control">
        <label for="LastName" class="">Nombres</label>
      </div>
    </div>
  </div>

  <!-- E-mail -->
  <div class="md-form">
    <input mdbInput type="email" id="email" placeholder="tucorreo@correo.com" class="form-control">
    <label for="email" class="">Correo electrónico</label>
  </div>

  <!-- Password -->
  <div class="md-form pb-0 mb-0">
    <input mdbInput type="password" id="password" placeholder="••••••••" class="form-control"
      aria-describedby="psswd_help">
    <label for="password" class="">Contraseña</label>
  </div>
  <small id="psswd_help" class="form-text text-muted mb-4">
    Al menos 8 caracteres y 1 dígito.
  </small>

  <!-- Phone number -->
  <div class="md-form pb-0 mb-0">
    <input mdbInput type="tel" id="phone" placeholder="+56982345678" class="form-control" aria-describedby="phone_help">
    <label for="phone" class="">Teléfono</label>
  </div>
  <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
    Opcional | Para contacto.
  </small>

  <!-- Newsletter -->
  <div class="row">
    <div class="col-md-10 mx-auto d-flex justify-content-center">
      <mdb-checkbox [default]="true"><span class="form-text text-muted mt-0 pt-0">¿Quieres recibir nuestro contenido, noticias y novedades por correo?</span></mdb-checkbox>
    </div>
  </div>

  <!-- Sign up button -->
  <button mdbBtn block="true" class="my-4 unique-color-dark white-text" type="submit">Crear cuenta</button>

  <!-- Social register -->
  <p>o registrate con tu red social favorita:</p>

  <a type="button" class="mx-2 icons rounded facebook">
    <i class="fab fa-facebook-f facebook"></i>
    <!-- <mdb-icon fab icon="facebook"></mdb-icon> -->
  </a>
  <a type="button" class="mx-2 icons rounded instagram">
    <i class="fab fa-instagram"></i>
    <!-- <mdb-icon fab icon="linkedin"></mdb-icon> -->
  </a>
  <a type="button" class="mx-2 icons rounded twitter">
    <i class="fab fa-twitter"></i>
    <!-- <mdb-icon fab icon="twitter"></mdb-icon> -->
  </a>
  <a type="button" class="mx-2 icons rounded linkedin">
    <i class="fab fa-linkedin-in"></i>
    <!-- <mdb-icon fab icon="linkedin"></mdb-icon> -->
  </a>

  <hr>

  <!-- Terms of service -->
  <p>Al presionar
    <em>Crear Cuenta</em> estás aceptando nuestros
    <a href="" target="_blank">terminos de servicio</a> y
    <a href="" target="_blank">terminos de privacidad</a>. </p>

</form>
<!-- Default form register -->
