<mdb-carousel class="carousel slide carousel-fade" [isControls]="false" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
      <div class="mask rgba-black-light waves-light"></div>
    </div>
    <div class="carousel-caption" style="text-align: left">
      <h3 class="h3-responsive">Light mask</h3>
      <p style="width: 40% !important;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid repellendus corporis tempore placeat quo fugiat expedita adipisci nemo blanditiis mollitia optio error voluptas itaque corrupti, explicabo obcaecati temporibus pariatur et? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptate cupiditate ad, commodi dignissimos adipisci impedit est laudantium corporis earum quibusdam tempora? Ab fugit dignissimos quod nesciunt molestiae eaque consequuntur.</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
      <div class="mask rgba-black-strong waves-light"></div>
    </div>
    <div class="carousel-caption" style="text-align: right">
      <h3 class="h3-responsive">Strong mask</h3>
      <p style="width: 40% !important; float: right">Secondary text</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
      <div class="mask rgba-black-slight waves-light"></div>
    </div>
    <div class="carousel-caption" style="text-align: right; margin-top:  20px !important">
      <h3 class="h3-responsive">Slight mask</h3>
      <p style="width: 40% !important; float: right">Third text</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>

<div class="container">
  <h1 class="text-center">Caracteristicas</h1>
</div>
