<div class="background-0 shadow">
  <div>
    <div class="row">
      <div class="col-lg-9 col-md-8 col-sm-12 mr-0 pr-0">
        <mdb-carousel [isControls]="false" class="carousel slide carousel-fade" [animation]="'fade'">
          <mdb-carousel-item>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(35).jpg"
              alt="First slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(33).jpg"
              alt="Second slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(31).jpg" alt="Third slide">
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 text-center grey lighten-5 pl-0 ml-0">
        <!-- <div class="title-login shadow">
          <span class="h5"> Ingrese en el siguiente link para iniciar sesión. </span><br>
        </div>
        <button mdbBtn type="button" class="text-white mt-4" color="elegant" mdbWavesEffect>Elegant</button> -->
        <app-signin></app-signin>
      </div>
    </div>
  </div>
</div>

<div class="background-1">
  <div class="container-fluid">
    <h1 class="text-center pt-4 pb-4">Funcionalidades</h1>
    <!-- Lista de funcionalidades -->
    <div class="row">
      <div class="col-sm-13 col-md-6 col-lg-4">
        <!-- Card -->
        <div class="card card-image mb-3"
          style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

          <!-- Content -->
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              <h5 class="white-text"><i class="fa fa-chart-pie"></i> <strong> Funcionalidad 1 </strong></h5>
              <h3 class="card-title pt-2"><strong>Concepto principal</strong></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                  optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                  Odit sed qui, dolorum!.</p>

              <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="far fa-clone left"></i> View
                project</a>
            </div>
          </div>
          <!-- Content -->
        </div>
        <!-- Card -->
      </div>
      <div class="col-sm-13 col-md-6 col-lg-4">
        <!-- Card -->
        <div class="card card-image mb-3"
          style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

          <!-- Content -->
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              <h5 class="white-text"><i class="fas fa-chart-pie"></i> <strong> Funcionalidad 2 </strong></h5>
              <h3 class="card-title pt-2"><strong>Concepto principal</strong></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                Odit sed qui, dolorum!.</p>
              <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="far fa-clone left"></i> View
                project</a>
            </div>
          </div>
          <!-- Content -->
        </div>
        <!-- Card -->
      </div>
      <div class="col-sm-13 col-md-6 col-lg-4">
        <!-- Card -->
        <div class="card card-image mb-3"
          style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

          <!-- Content -->
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              <h5 class="white-text"><i class="fas fa-chart-pie"></i> <strong> Funcionalidad 3 </strong></h5>
              <h3 class="card-title pt-2"><strong>Concepto principal</strong></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                Odit sed qui, dolorum!.</p>
              <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="far fa-clone left"></i> View
                project</a>
            </div>
          </div>
          <!-- Content -->
        </div>
        <!-- Card -->
      </div>
    </div>
  </div>
</div>

<div class="background-2">
  <div class="container-fluid">

  </div>
</div>
