<!-- <div class="white p-2 card-pub rounded shadow-sm">
  <div class="text-right">
    <span>David Misael Villegas Sandoval</span>
    <div class="profile-pic-div">
      <img class="img-fluid profile-pic rounded-circle"
        src="https://instagram.fccp3-1.fna.fbcdn.net/vp/a7ebf89cf2dfaab354e0e24426eab802/5D2BE514/t51.2885-15/e35/47511165_2009662099082655_7774408380105024915_n.jpg?_nc_ht=instagram.fccp3-1.fna.fbcdn.net"
        alt="">
    </div>
  </div>
</div> -->

<div class="white card-pub rounded shadow-sm mb-4">
  <article>
    <header class="display-inline text-left p-2 pt-3 pb-3">
      <div class="profile-pic-div ml-1">
        <img class="img-fluid profile-pic rounded-circle shadow-sm"
        src="https://instagram.fccp3-1.fna.fbcdn.net/vp/a7ebf89cf2dfaab354e0e24426eab802/5D2BE514/t51.2885-15/e35/47511165_2009662099082655_7774408380105024915_n.jpg?_nc_ht=instagram.fccp3-1.fna.fbcdn.net"
        alt="">
        <span class="ml-2">David Misael Villegas Sandoval</span>
      </div>
    </header>
    <div class="media-pub">
      <img class="img-fluid ml-0" src="https://instagram.fccp1-1.fna.fbcdn.net/vp/123c266a2eefb854bc7503a900dd28f4/5D0F23F3/t51.2885-15/e35/52780211_125171295274355_1502787220588433602_n.jpg?_nc_ht=instagram.fccp1-1.fna.fbcdn.net" alt="">
    </div>
  </article>
</div>
