<div class="space">

</div>

<div class="container">
  <div class="row profile">
    <div class="col-lg-3 mt-4 pt-4">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img src="https://scontent.fccp1-1.fna.fbcdn.net/v/t1.0-1/p160x160/45809588_2030556977235487_395710914826862592_n.jpg?_nc_cat=110&_nc_oc=AQl3RCxaHLs8FnQzAhuRhBLoLmmjQnVxliaLKwniVAJ7dP-XwcKqKwBWRxjNTNCbu6c&_nc_ht=scontent.fccp1-1.fna&oh=3e8d7c22f0cf067ec5c290a461b036e0&oe=5D0C7D5C"
            class="img-responsive" alt="">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            Marcus Doe
          </div>
          <div class="profile-usertitle-job">
            Developer
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
          <button type="button" class="btn btn-success btn-sm">Follow</button>
          <button type="button" class="btn btn-danger btn-sm">Message</button>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a href="#">
                <i class="glyphicon glyphicon-home"></i>
                Overview </a>
            </li>
            <li>
              <a href="#">
                <i class="glyphicon glyphicon-user"></i>
                Account Settings </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="glyphicon glyphicon-ok"></i>
                Tasks </a>
            </li>
            <li>
              <a href="#">
                <i class="glyphicon glyphicon-flag"></i>
                Help </a>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>

    <div class="col-lg-6 indigo">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae atque eaque voluptatibus perspiciatis porro
      quidem possimus quod maiores, blanditiis consequatur laboriosam? Nostrum rerum et similique voluptatum. Deserunt,
      optio voluptatem! Veritatis!
    </div>

    <div class="col-lg-3 black">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, animi natus commodi culpa, ab harum quaerat
      explicabo, illo minima vitae molestias pariatur. Voluptas, incidunt excepturi iure eum a provident rem?
    </div>
  </div>
</div>
