<div class="space">

</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3 mt-4 p-2">
      <div class="white rounded p-2 shadow-sm position-fixed" mdbSticky>
        <app-main-profile-card ></app-main-profile-card>
      </div>
    </div>
    <div class="col-lg-9 mt-4 p-2">
      <app-advanced-publication-card></app-advanced-publication-card>
      <app-advanced-publication-card></app-advanced-publication-card>
      <app-advanced-publication-card></app-advanced-publication-card>
      <app-advanced-publication-card></app-advanced-publication-card>
      <app-advanced-publication-card></app-advanced-publication-card>
    </div>
  </div>
</div>

