<div class="space">

</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3 mt-4 p-2">
      <div class="white rounded p-2">
        <app-main-profile-card></app-main-profile-card>
      </div>
    </div>
    <div class="col-lg-9 mt-4 p-2">
      <div class="indigo rounded p-4">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae atque eaque voluptatibus perspiciatis porro
        quidem possimus quod maiores, blanditiis consequatur laboriosam? Nostrum rerum et similique voluptatum. Deserunt,
        optio voluptatem! Veritatis!
      </div>
    </div>
  </div>
</div>

